* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #222831;
}

#question-container {
    background-color: #00ADB5;
    padding: 50px;
    color: #EEEEEE;
}

#answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.answer-item {
    width: 700px;
    height: 300px;
    padding: 10px;
    background-color: blue;
    border-radius: 20px;
    margin: 40px 0px;
    transition: 0.45s;
    font-size: 2rem;
}

.answer-item:hover {
    cursor: pointer;
}